/* Edited by Sofia Gallo */

body {
    background-color: #f8f9fc;
}

.copyright {
    background-color: #1a252f;
}
.fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}
.content-grey {
    background-color: #f8f9fc;
}
hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}
.profile-font {
    color: inherit;
    font-size: 80%;
    font-weight: 400;
}
.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.btn-primary {
	background-color: #687fdd !important;
	border-color: #687fdd !important;
	color: #fff !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #5568b8 !important;
	border-color: #5568b8 !important;
	color: #fff !important;
}

.btn-warning {
	background-color: #ffc300 !important;
	border-color: #ffc300 !important;
	color: #000 !important;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	background-color: #e6b000 !important;
	border-color: #e6b000 !important;
	color: #000 !important;
}